<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"></section>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

	<!--智泊云平台appkey-->
	<add key="ZhiBoAppKey" value="pttest1234567" />
	<!--智泊云平台包月车ID-->
	<add key="ZhiBoCarTypeId" value="4807513324154019998" />
	<!--智泊云平台接口地址-->
	<add key="ZhiBoHost" value="http://api.cxzntc.com:9900/park/" />
	<!--智泊云平台小车-->
	<add key="ZhiBoSmallCar" value="5718353268982914234" />
	<!--智泊云平台大车-->
	<add key="ZhiBoBigCar" value="5317477337695404475" />
	<!--智泊云平台超大车-->
	<add key="ZhiBoLargeCar" value="4794684106545137578" />
	<!--智泊云平台摩托车-->
	<add key="ZhiBoMoto" value="5540346797831981248" />
	<!--智泊云平台小型能源车-->
	<add key="ZhiBoSmallEnergyCar" value="5235584345593236212" />
	<!--智泊云平台大型能源车-->
	<add key="ZhiBoBigEnergyCar" value="5580324307994102142" />


	  <!--微信推送地址-->
    <add key="weixinflag" value="1" />
    <!--是否启用微信推送，0禁用，1启用-->
    <add key="weixinverify" value="1" />
    <!--<add key="1" value="http://nj.dingdingtc.cn/" />-->
	<!--<add key="1" value="http://www.fxintel.top/weixin_guide/" />-->
	  <add key="1" value="http://www.fxintel.top/api/" />
    <!--kafka相关配置参数-->
    <add key="KafkaBroker" value="" />
    <add key="Topic" value="" />
	<!--停车图片上传路径 数据库存储根路径-->
	<add key="UrlUpload" value="D:\UploadFile\CarImage" />
	<!--巡查员任务停车图片上传路径 数据库存储根路径-->
	<add key="InspTaskUrlUpload" value="D:\UploadFile\InspectorPic\InspTask" />
	<!--巡查员事件停车图片上传路径 数据库存储根路径-->
	<add key="InspEventUrlUpload" value="D:\UploadFile\InspectorPic\InspEvent" />
	  

	  <add key="P4OLMsmq" value=".\Private$\P4OLMsmq" />
    <!--操作日志-->
    <add key="P4DLMsmq" value=".\Private$\P4DLMsmq" />
    <!--数据日志-->
    <add key="P4AuditMsmq" value=".\Private$\P4AuditMsmq" />
    <!--审计日志-->
    <add key="P4SensorMsmq" value=".\Private$\P4SensorMsmq" />
    <!--车检器日志消息队列-->
    <add key="P4InducibleMsmq" value=".\Private$\P4InducibleMsmq" />
    <!--诱导日志消息队列-->

    <!--友盟推送-->
    <add key="umengflag" value="1" />
    <!--0:禁用，1:启用-->
    <add key="Appkey" value="5d40f5f63fc1954966000529" />
    <add key="AppMasterSecret" value="hwcjemapzrq1zn3kslsxr3uubew9j2ce" />
	  
	 <!--API日志记录文件夹路径-->
	 <add key="LogFilePath" value="D:\LogFileAPI" />
	  <!--视频桩图片上传文件夹路径-->
	  <add key="VideoPicPath" value="D:\VideoPic" />

	 <!--路连物通抓拍url-->
    <add key="LTWLcaptureUrl" value="http://47.103.129.3:9001" />
  </appSettings>
  <connectionStrings>
	   <!--演示服务器-->
	  <!--<add name="Default" connectionString="data source=123.60.44.222;initial catalog=F2V20Init;persist security info=True;user id=sa;password=Fxintel130903;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->

	  <!--研发测试环境-->
    <add name="Default" connectionString="data source=121.36.209.245;initial catalog=F2V20InitPark;persist security info=True;user id=sa;password=Fxintel123;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
	  <!--怒江生产环境-->
	<!--<add name="Default" connectionString="data source=39.104.98.41;initial catalog=F2V20Init;persist security info=True;user id=sa;password=Fxintel123;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
	<security>
		<requestFiltering>
			<requestLimits maxAllowedContentLength="1048576000"></requestLimits>
		</requestFiltering>
	</security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <log4net>
    <appender name="errorAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="Logs\err.log" />
      <encoding value="utf-8" />
      <preserveLogFileNameExtension value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="infoAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="Logs\info.log" />
      <encoding value="utf-8" />
      <preserveLogFileNameExtension value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="debugAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="Logs\debug.log" />
      <encoding value="utf-8" />
      <preserveLogFileNameExtension value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="perfAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="Logs\perf.log" />
      <encoding value="utf-8" />
      <preserveLogFileNameExtension value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="errorAppender" />
      <appender-ref ref="infoAppender" />
      <appender-ref ref="debugAppender" />
    </root>
    <logger name="Performance" additivity="false">
      <level value="ALL" />
      <appender-ref ref="perfAppender" />
    </logger>
  </log4net>

</configuration>
